<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="Login">
        <classes>
            <class name="com.telran.TestLogin"/>
        </classes>
    </test>

    <test name="Groups" >
        <classes>
            <class name="com.telran.GroupCreationTest" />
            <class name="com.telran.GroupModificationTest" />
            <class name="com.telran.GroupDeletionTest" />
        </classes>
    </test>

    <test name="Contacts" >
        <classes>
            <class name="com.telran.ContactCreationTest" />
            <class name="com.telran.ContactModificationTest" />
            <class name="com.telran.ContactDeletionTest" />
        </classes>
    </test>

</suite>
